<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4"/>
  </configSections>
  <connectionStrings>
    <add name="Demo" connectionString="server=LocalHost;User Id=root;Pwd=;Persist Security Info=True;database=test" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <bltoolkit>
    <dataProviders>
      <add type="BLToolkit.Data.DataProvider.MySqlDataProvider, BLToolkit.Data.DataProvider.MySql.4" />
    </dataProviders>
  </bltoolkit>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
